{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/crear_usuario.css' %}">
{% endblock %}

{% block content %}
<h2>Crear Usuario</h2>
<form method="post" enctype="multipart/form-data" id="usuario-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Crear</button>
</form>
{% endblock %}
{% block extra_scripts %}
<script src="{% static 'js/validations.js' %}"></script>
<script>
  // Mapear valores de facultad a nombre
  const facultadNombres = {
    '1': 'FTL',
    '2': 'FCS',
    '3': 'FIO',
    '4': 'FTI',
    '5': 'CITEC',
    '6': 'FTE'
  };
  function pad(num, size) {
    let s = String(num);
    while (s.length < size) s = "0" + s;
    return s;
  }
 
</script>
{% endblock %}
