{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/detalles_de_usuarios.css' %}">
{% endblock %}

{% block content %}
<h2>Detalle de Usuario</h2>
<table class="table">
    <tr><th class="user">Usuario</th><td class="userb">{{ usuario.username }}</td></tr>
    <tr><th>Correo</th><td>{{ usuario.email }}</td></tr>
    <tr><th>Nombre</th><td>{{ usuario.first_name }} {{ usuario.last_name }}</td></tr>
    <tr><th>Tipo</th><td>{{ usuario.get_tipo_usuario_display }}</td></tr>
    <tr><th>Facultad</th><td>{{ usuario.facultad }}</td></tr>
    <tr><th>Grupo</th><td>{{ usuario.grupo }}</td></tr>
    <tr><th>Año Escolar</th><td>{{ usuario.get_anio_escolar_display }}</td></tr>
    <tr><th>Carrera</th><td>{{ usuario.carrera }}</td></tr>
    <tr><th>Curso</th><td>{{ usuario.curso }}</td></tr>
    <tr><th class= "nivel">Nivel</th><td class="nivelb">{{ usuario.nivel }}</td></tr>
</table>
<div class="text-center">
    <img src="{{ usuario.foto.url }}" alt="Foto de {{ usuario.username }}" class="img-fluid rounded-circle mb-3" style="max-width: 150px;">
<a href="{% url 'lista_usuarios' %}" class="btn btn-primary">Volver</a></div>
{% endblock %}
