{% extends 'base.html' %}
{% block content %}
<h2>Detalle de Usuario</h2>
<table class="table">
    <tr><th>Nombre de usuario</th><td>{{ usuario.username }}</td></tr>
    <tr><th>Correo electrónico</th><td>{{ usuario.email }}</td></tr>
    <tr><th>Facultad</th><td>{{ usuario.get_facultad_display }}</td></tr>
    <tr><th>Año escolar</th><td>{{ usuario.get_anio_escolar_display }}</td></tr>
    <tr><th>Grupo</th><td>
        {% if usuario.facultad and usuario.anio_escolar and usuario.grupo %}
            IDF {{ usuario.facultad }}{{ usuario.anio_escolar }}0{{ usuario.grupo|slice:'-2:' }}
        {% else %}
            {{ usuario.grupo }}
        {% endif %}
    </td></tr>
    <tr><th>Año Escolar</th><td>{{ usuario.get_anio_escolar_display }}</td></tr>
    <tr><th>Carrera</th><td>{{ usuario.carrera }}</td></tr>
    <tr><th>Curso</th><td>{{ usuario.curso }}</td></tr>
    <tr><th>Nivel</th><td>{{ usuario.nivel }}</td></tr>
</table>
<a href="{% url 'lista_usuarios' %}" class="btn btn-secondary">Volver</a>
{% endblock %}
