/* Estilos para la página principal 
 #welcomeCarousel {
    width: 100%;
}

.card-img-top {
    height: 250px; 
    object-fit: cover;
    object-position: center;
    border:none; 
}

#welcomeCarousel .carousel-item img {
    height: 400px; 
    object-fit: cover; 
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1); 
}

.card {
    border:none !important;
} */
