{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Editar Resultado</h2>
<form method="post" id="resultado-form" class="resultado-form">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id-inscripcion">Inscripción</label>
        <select id="id-inscripcion" class="form-control inscripcion-field" name="inscripcion" required>
            <option value="">---------</option>
            {% for inscripcion in inscripciones %}
                <option value="{{ inscripcion.id }}" {% if resultado.inscripcion.id == inscripcion.id %}selected{% endif %}>{{ inscripcion }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="id-nivel">Nivel</label>
        <select id="id-nivel" class="form-control nivel-field" name="nivel" required>
            <option value="">---------</option>
                {% for nivel in niveles %}
                <option value="{{ nivel.0 }}" {% if resultado.nota == nivel.0 %}selected{% endif %}>{{ nivel.1 }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>
{% endblock %}
