{% extends 'base_e.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
  <h2 class="mb-4 text-primary text-center">Lista de Convocatorias</h2>

  <form id="formEliminarConvocatorias" method="post" action="{% url 'eliminar_convocatorias_seleccionadas' %}">
    {% csrf_token %}

    <div class="table-responsive shadow rounded">
      <table class="table table-hover align-middle">
        <thead class="table-light">
          <tr>
            <th style="width: 13%;">Tipo</th>
            <th style="width: 15%;">Lugar</th>
            <th style="width: 13%;">Fecha</th>
            <th style="width: 13%;">Hora</th>
            <th style="width: 18%; min-width: 180px;" class="text-nowrap">Acciones</th>
            <th style="width: 5%;" class="text-center align-middle">
              <input type="checkbox" id="selectAllConvocatorias" title="Seleccionar/Deseleccionar todos" class="align-middle">
            </th>
          </tr>
        </thead>
        <tbody>
          {% for convocatoria in convocatorias %}
          <tr>
            <td class="text-truncate" style="max-width: 120px;">{{ convocatoria.get_tipo_display }}</td>
            <td class="text-truncate" style="max-width: 100px;">{{ convocatoria.descripcion }}</td>
            <td class="text-truncate" style="max-width: 120px;">{{ convocatoria.lugar }}</td>
            <td class="text-truncate" style="max-width: 100px;">{{ convocatoria.fecha }}</td>
            <td class="text-truncate" style="max-width: 100px;">{{ convocatoria.hora }}</td>
            <td class="text-truncate" style="max-width: 100px;">{{ convocatoria.estado|yesno:"Activa,Inactiva" }}</td>
            <td class="text-nowrap" style="min-width: 180px;">
             <a href="{% url 'detalle_convocatoriae' convocatoria_id=convocatoria.id %}" class="btn btn-outline-info btn-sm me-1" title="Visualizar">
               <i class="bi bi-eye"></i>
             </a> 
              <button type="submit" name="convocatoria_id" value="{{ convocatoria.id }}" class="btn btn-outline-warning btn-sm me-1">Inscribirse</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


  </form>
</div>
{% endblock %}
{% block extra_scripts %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const selectAll = document.getElementById('selectAllConvocatorias');
    if (selectAll) {
      selectAll.addEventListener('change', function() {
        document.querySelectorAll('.convocatoria-checkbox').forEach(cb => cb.checked = selectAll.checked);
      });
    }
  });
</script>
{% endblock %}